#navBackground {
    background-color: red;
    color: #fff;
    
}

#searchedArtist {
    text-align: center;
}

#artistImage {
    height: 200px;
    width: 200px;
}


.body {
    color: green;
}

@media (max-width: 575.98px) { 
    navbar
 }